#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: 1fr;

}

#container div {

    border: solid black 1px;
}