body{
  background-color: lightgrey;

}

.title{
  text-align: center;
}

.footer{
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}


button.active {
  background-color: #333;
  color: #fff;
}

button {
  width: 100%;
}


#mainContainer{
  display: flex;
  align-items: center ;
  justify-content: flex-start;
  gap:100px;
  max-width: 1100px;
  /*  telling the browser to set the left and right margins of the container to auto, which
   will effectively center it horizontally on the page, assuming there's enough available space.*/
  margin: 0 auto;
}

.gridContainer {
  display: grid;
  grid-gap: 0;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
  }

  /*ensures that each cell is exactly 1/16th of the height and width of the viewport.
   This makes the cells the same size as each other and ensures that they fill the entire viewport. */
  .gridContainer div {
    background-color: white;
    border: 1px solid black;
  
  }

  input[type="color"] {
  
    width: 80px;
    height: 80px;
    border: none;
  }


  .optionsContainer{
    display: flex;
  flex-direction: column;
  justify-content: center;
    gap: 30px;
  width: 200px;
  align-items: center;
  }

  

  .cell {
    box-sizing: border-box;
  }