.gridContainer {
  display: grid;
  grid-gap: 0;
  margin: 0;
  padding: 0;
 
  }

  /*ensures that each cell is exactly 1/16th of the height and width of the viewport.
   This makes the cells the same size as each other and ensures that they fill the entire viewport. */
  .gridContainer div {
    background-color: white;
    border: 1px solid black;
  
  }
